<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar" color="primary">angular demo</mat-toolbar>
    <mat-card>
      <form  [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="text" matInput placeholder="帳號" formControlName="username">
          <mat-error *ngIf="form.username.invalid">請輸入帳號</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input type="password" autocomplete="false" matInput placeholder="密碼" formControlName="password">
          <mat-error *ngIf="form.password.invalid">請輸入密碼</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">登入</button>
        <mat-error *ngIf="errorMsg !== ''">帳號或密碼輸入錯誤</mat-error>
      </form>
    </mat-card>
  </div>
</div>