<div class="container">
  <h1 class="text-center" *ngIf="loading === false; else elseTmpl">
    載入中請稍後
  </h1>

  <ng-template #elseTmpl>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">姓名</th>
          <th scope="col">身高</th>
          <th scope="col">體重</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data$ | async">
          <td>{{ d.id }}</td>
          <td>{{ d.name }}</td>
          <td>{{ d.height }}</td>
          <td>{{ d.weight }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>