<template>
  <div class="container" v-if="status !== 'success'">
    讀取中...
    {{ status }}
  </div>
  <div v-else>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">姓名</th>
          <th scope="col">身高</th>
          <th scope="col">體重</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(it, idx) in data" :key="idx">
          <td>{{ it.id }}</td>
          <td>{{ it.name }}</td>
          <td>{{ `${it.height} 公分` }}</td>
          <td>{{ `${it.weight} 公斤` }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
// @ is an alias to /src
import { mapActions, mapGetters } from "vuex";
export default {
  name: "Home",
  mounted() {
    console.log("inside mouted");
    this.fetchData();
  },
  computed: {
    ...mapGetters("data", ["status", "data"])
  },
  methods: {
    ...mapActions("data", ["fetchData"])
  }
};
</script>
