<template>
  <div class="container">
    <h2>Vue Demo - 請登入</h2>
    <form @submit.prevent="submitHandler">
      <div class="form-group">
        <label for="username">帳號</label>
        <input
          type="text"
          v-model="username"
          name="username"
          class="form-control"
          :class="{ 'is-invalid': submitted && !username }"
        />
        <div v-show="submitted && !username" class="invalid-feedback">
          請輸入帳號
        </div>
      </div>
      <div class="form-group">
        <label htmlFor="password">密碼</label>
        <input
          type="password"
          v-model="password"
          name="password"
          class="form-control"
          :class="{ 'is-invalid': submitted && !password }"
        />
        <div v-show="submitted && !password" class="invalid-feedback">
          請輸入密碼
        </div>
      </div>
      <div
        class="warning text-center"
        v-show="lState !== 'sucesss' && submitted == true"
      >
        請檢查帳號密碼
      </div>
      <div class="form-group">
        <button class="btn btn-primary">
          Login
        </button>
      </div>
    </form>
  </div>
</template>

<style>
.warning {
  color: red;
  font-weight: bold;
  font-size: 20px;
}
</style>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      username: "",
      password: "",
      submitted: false
    };
  },
  computed: {
    ...mapGetters("login", ["lState"])
  },
  methods: {
    ...mapActions("login", ["login"]),
    submitHandler(e) {
      this.submitted = true;
      console.log("inside submitHandler");
      e.preventDefault();
      const { username, password } = this;
      if (username && password) {
        this.login({ username, password });
      }
    }
  },
  mounted() {
    console.log("inside mounted");
  }
};
</script>
