<template>
  <div>
    loadding
  </div>
</template>

<script>
import router from "../router";
export default {
  mounted() {
    console.log("inside mounted 媽的");
    const isLogin = localStorage.getItem("login-check");
    if(isLogin === null || isLogin === undefined) {
      router.push("login");
    } else {
      router.push("home");
    }
  }
};
</script>

<style lang="scss" scoped></style>
